/bin
/.classpath
/.project
/.settings
/.settings/*
/target/
dependency-reduced-pom.xml
.directory
/.idea
*.iml
/xact-skel
/.metadata/
*/bin
*/.classpath
*/.project
*/.settings
*/.settings/*
*/target/
*/dependency-reduced-pom.xml
*/.directory
*/.idea
*.iml
*/xact-skel
